.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.cards {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 100%;
    color: white;
    
}
  h2 {
    font-size: 6vh;
    margin: 0;
    padding: 0;
    
    text-align: center;
}
.main-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 3.5vh;
    width: 100%;
    
}
.main-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-one p { 
    font-size: 5vh; 
    text-align: center;
    padding-right: 3vh;
    margin: 0;
}
.main-one img {
    margin-left: 3vh;
}

.main-two p { 
    margin-bottom: 20;
}

.main-info {
display: flex;
flex-direction: column;
text-align: center;
margin: 3vh 3vh 0 3vh;

}

.other-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
}

.other  {
 padding: 4vh 4vh 0 4vh;
 text-align: center;
}
.other p {
    font-size: 4vh;
}

