.cards {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 100%;
    color: white;
}
  h2 {
    font-size: 7vh;
    margin: 0;
    padding: 0;
    text-align: center;
}
.main-card {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 4vh;
    
}
.main-card p {
    margin: auto;
}

.main-info {
display: flex;
flex-direction: column;
text-align: center;
margin-right: 10px;
}
.main-info p {
    margin: 0;
    padding: 0 ;
    font-size: 3vh;
    text-transform:capitalize;
}

