*{
    box-sizing: border-box;

}
html, body, #root, .App {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    
    
  }

  #root {
    background-image: linear-gradient(  rgba(58,218,211,1), rgba(235,134,25,1) );
    
  }

  .App{
      display: flex;
      width: 100%;
      min-height: 100%;
      flex-direction: column;
      
  }

